div#container {
    height: 100vh;
}

div#header, div#footer{
    height: 5%;
}

div#content {
    height: 90%;
}

div#content-main {
    padding-top: 3rem;
}

div#sidebar {
    padding-top: 2rem;
    min-width: 100px;
    max-width: 300px;
}

div#sidebar > ul.nav-list {
    padding-left: 1rem;
    list-style-type: none;
}

div#copyright {
    font-size: smaller;
}

div#sidebar > p.nav-title {
    font-weight: bold;
    font-size: small;
}
div#sidebar > p.action-icons > a {
    color: lightslategrey;
    padding-right: 0.5rem;
}

div#content > div#content-main > div#md-edit, div#md-preview-container {
    height: 50%;
}

div#md-edit > div > form {
    height: 100%;
}

div#md-edit > div > form > div#form-textarea-pagetext {
    flex:1   
}

div#md-edit > div > form > div#form-textarea-pagetext > textarea {
    height: 100%;
}

div#md-preview-container {
    height: calc(45% - 3rem);
    overflow: auto;
}

span.nav-icons {
    line-height: 2em;
    position: absolute;
    right: 0.5rem;
    
}

span.nav-icon {
    color: lightgrey;
}

span.nav-icon:hover {
    color:  lightslategray;
    cursor: pointer;
}