{% extends "layout.html" %}
{% block title %}Add Page{% endblock %}
{%block head %}
<script src="https://cdn.jsdelivr.net/npm/marked@0.3.19/lib/marked.min.js"></script>
<script src="{{url_for('static', filename='md-render.js')}}"></script>
<script src="{{url_for('static', filename='typeahead.bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='path-typeahead.js')}}"></script>
<script src="{{url_for('static', filename='moment.min.js')}}"></script>
<link href="{{url_for('static', filename='typeaheadjs.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}
<p><h3>Edit Page</h3></p>
<div id='md-edit' class='row'>
    <div class='col'>
        <form method='POST' class='d-flex flex-column'>
            <input type='hidden' name='utcOffset' id='utcOffset'>          
            <div class='form-group form-row'><input {% if 'path' in g %}value="{{g.path}}"{% endif %} type='text' class='form-control path-typeahead' id='page-name' name='page-name' placeholder="Page Name/Path"></div>
            <div class='form-group form-row d-flex flex-column' id='form-textarea-pagetext'><textarea class='form-control' id='page-text' name='page-text' placeholder='Page Text'>{% if 'text' in g %}{{g.text}}{%endif%}</textarea></div>
            <div class='form-group form-row'><button class="btn btn-primary" type='Submit'>Submit</button></div>
        </form>
    </div>
</div>
<div id='md-preview-container' class='row'>
    <div id='md-preview' class='col'>
    </div>
</div>
{% endblock %}