{% extends "layout.html" %}
{% block title %}Index{% endblock %}

{% block content %}
    <h3>Index</h3>
    <p>
        Welcome to your jkwiki.<br/>
        Enjoy your stay, create some shit while you're here<br/>
        Navigation and help to the left.
    </p>
{% endblock %}