<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/solid.css" integrity="sha384-Rw5qeepMFvJVEZdSo1nDQD5B6wX0m7c5Z/pLNvjkB14W6Yki1hKbSEQaX9ffUbWe" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css" integrity="sha384-GVa9GOgVQgOk+TNYXu7S/InPTfSDTtBalSgkgqQ7sCik56N9ztlkoTr2f/T44oKV" crossorigin="anonymous">
        <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='application.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='list-actions.js')}}"></script>
        
        {% block head %}
        <title>jkwiki - {% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div id="container" class="container-fluid">
            <div id="header" class="row">
                <div class="col">
                    <h2>jkwiki</h2>
                    {% block header %}{% endblock %}
                </div>
            </div>
            <div id="content" class="row">
                <div id="sidebar" class="col-2">
                    <p class='action-icons'>
                            <a href='/new'><i class="fas fa-plus"></i></a>
                            <a href='#'><i class="fas fa-search"></i></a>
                    </p>
                    <p class="nav-title">
                        Index
                    </p>
                    <ul class='nav-list'>
                        <li><a href="/">/</a></li>
                        {% for path in get_paths() %}
                            <li>
                                <a {% if is_current_path(path, request.path)%} class="font-weight-bold" {%endif%} href="/p{{path | lower | urlencode}}">{{ path | e }}</a>
                                <span class='nav-icons'>
                                    <span class="small icon-delete nav-icon fas fa-trash-alt" title="Delete"></span>
                                    <a href= "/p{{path | urlencode}}/edit"><span class="small icon-edit nav-icon fas fa-edit" title="Edit"></span></a>
                                </span>
                            </li>
                        {% endfor %} 
                    </ul>
                </div>
                <div id="content-main" class="col-sm-8 col-md-6">{% block content %}{% endblock %}</div>
            </div>
            <div id="footer" class="row">
                <div class='col' id='copyright'>&copy; jklong 2018 All rights reserved, no warranties, you fuck it you fix it etc</div>
                {% block footer %}{% endblock %}
            </div>
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </body>
</html>