{% extends "layout.html" %}
{% block title %}{{ g.page_title }}{% endblock %}
{% block content %}
<p class='float-right' id='page-actions'>
    <span class='fas fa-trash-alt'></span>
</p>
{{ g.page_text | markdown }}
{% endblock %}